brand/node_modules/
broadcast/
contracts/cache/
contracts/node_modules/
contracts/out/
dist/
.env
.expo/
gateway/.env
*.local
mobile/android/
mobile/.expo/
mobile/ios/
mobile/node_modules/
node_modules/
web/dist/
web/.next/
APK/
